<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Invoice Management Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

<!-- End Page Title -->

<section class="section dashboard">

 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Invoice</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/base}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div>
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">             
             
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo"> New Invoice</button>

             
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Action</th>
                                        
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="invoice:${invoice}">
                    <td th:text="${invoice.id}"></td>
                    <td th:text="${invoice.invoiceDate}"></td>
                    <td th:text="${invoice.client.name}"></td>
                    <td th:text="${invoice.remarks}"></td>

                    <td>
                      <div class="btn-group">
                          <a th:href="@{/invoice/findById(id=${invoice.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-square"></i></a>
                          <a th:href="@{/invoice/findById(id=${invoice.id})}" class="btn btn-secondary" id="detailButton"><i class="bi bi-ticket-detailed"></i></a>
                          <a th:href="@{/invoice/delete/{id}(id=${invoice.id})}" type="button" class="btn btn-danger" id="deleteButton"  ><i class="bi bi-trash"></i></a>

                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>


           </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  
  
  
  <!-- add New country -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal"> Add New Invoice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/invoice/addNew}" method="post">
        
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idAdd" name="id" disabled>
          </div>
        
           <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Client: </label>
			    <select class="form-control" id="ddlClientAdd" name="clientid">
			       <option>-SELECT-</option>			    
			       <option th:each="client : ${client}"
				        th:value="${client.id}"
				        th:text="${client.name}">
				   </option>
			    </select>				    
		  </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Invoice Date:</label>
            <input type="date" class="form-control" id="invoiceDateAdd" name="invoiceDate">
          </div>          
          
         <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Invoice Status: </label>
			    <select class="form-control" id="ddlInvoiceStatusAdd" name="invoicestatusid">
			       <option>-SELECT-</option>			    
			       <option th:each="invoicestatus : ${invoicestatus}"
				        th:value="${invoicestatus.id}"
				        th:text="${invoicestatus.description}">
				   </option>
			    </select>				    
		  </div>          

         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksAdd" name="remarks">
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save </button>
          </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End addNew invoice -->         

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    



  <!-- details Invoice -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModal">Invoice Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="form-group">
            <label for="idAdd" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idDetails" name="id" disabled>
          </div>

          <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Client: </label>
			    <select class="form-control" id="ddlClientDetails" name="clientid">
			       <option>-SELECT-</option>			    
			       <option th:each="client : ${client}"
				        th:value="${client.id}"
				        th:text="${client.name}">
				   </option>
			    </select>				    
		  </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Invoice Date:</label>
            <input type="date" class="form-control" id="invoiceDateDetails" name="invoiceDate">
          </div>          
          
         <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Invoice Status: </label>
			    <select class="form-control" id="ddlInvoiceStatusDetails" name="invoicestatusid">
			       <option>-SELECT-</option>			    
			       <option th:each="invoicestatus : ${invoicestatus}"
				        th:value="${invoicestatus.id}"
				        th:text="${invoicestatus.description}">
				   </option>
			    </select>				    
		  </div>          

         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksDetails" name="remarks">
          </div>  
          
      </div>

    </div>

</div> <!-- End addNew Invoice --> 






<!-- Update Invoice -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Update State</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/invoice/update}" method="put">
          <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="id" readonly>
          </div>
          
          <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Client: </label>
			    <select class="form-control" id="ddlClientEdit" name="clientid">
			       <option>-SELECT-</option>			    
			       <option th:each="client : ${client}"
				        th:value="${client.id}"
				        th:text="${client.name}">
				   </option>
			    </select>				    
		  </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Invoice Date:</label>
            <input type="date" class="form-control" id="invoiceDateEdit" name="invoiceDate">
          </div>          
          
         <div class="form-group">
		    <label for="recipient-name" class="col-form-label">Invoice Status: </label>
			    <select class="form-control" id="ddlInvoiceStatusEdit" name="invoicestatusid">
			       <option>-SELECT-</option>			    
			       <option th:each="invoicestatus : ${invoicestatus}"
				        th:value="${invoicestatus.id}"
				        th:text="${invoicestatus.description}">
				   </option>
			    </select>				    
		  </div>          

         <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksEdit" name="remarks">
          </div>                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      

    </div>
  </div>
</div> <!-- End update invoice --> 
  
  

  
  
  
  

<div th:replace="index.html"></div>
 <script src="assets/js/invoice.js"></script>

</body>

</html>