<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Location Management Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Location</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/base}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">             
             
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo"> New Location</button>

             
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="location:${location}">
                    <td th:text="${location.id}"></td>
                    <td th:text="${location.city}"></td>
                    <td th:text="${location.address}"></td>

                    <td>
                      <div class="btn-group">
                          <a th:href="@{/location/findById(id=${location.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-square"></i></a>
                          <a th:href="@{/location/findById(id=${location.id})}" class="btn btn-secondary" id="detailButton"><i class="bi bi-ticket-detailed"></i></a>
                          <a th:href="@{/location/delete/{id}(id=${location.id})}" type="button" class="btn btn-danger" id="deleteButton"  ><i class="bi bi-trash"></i></a>

                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>


           </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  
  
  
  
  <!-- add New Location -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal"> Add New Location</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form th:action="@{/location/addNew}" method="post">
          <div class="form-group">
            <label for="idAdd" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idAdd" name="id" disabled>
          </div>

          <div class="form-group">
            <label for="descriptionEdit" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="descriptionAdd" name="description">
          </div>
          
          <div class="form-group">
            <label for="cityAdd" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="cityAdd" name="city">
          </div>
          
          <div class="form-group">
            <label for="detailsAdd" class="col-form-label">Address:</label>
            <textarea type="text" class="form-control" id="addressAdd" name="address"></textarea>
          </div> 
          
         <div class="form-group">
		    <label for="ddlCountryAdd" class="col-form-label">Country: </label>
			    <select class="form-control" id="ddlCountryAdd" name="countryid">
			       <option>-SELECT-</option>			    
			       <option th:each="country : ${country}"
				        th:value="${country.id}"
				        th:text="${country.description}">
				   </option>
			    </select>				    
		  </div>

         <div class="form-group">
		    <label for="ddlStateAdd" class="col-form-label">State: </label>
			    <select class="form-control" id="ddlStateAdd" name="stateid">
			       <option>-SELECT-</option>			    
			       <option th:each="state : ${state}"
				        th:value="${state.id}"
				        th:text="${state.name}">
				   </option>
			    </select>				    
		  </div>
          
          <div class="form-group">
            <label for="detailsAdd" class="col-form-label">Details:</label>
            <input type="text" class="form-control" id="detailsAdd" name="details">
          </div>        
      </div>

          
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Save </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
           </form>       
      </div>


</div> <!-- End addNew Location -->     



  <!-- details Location -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModal">State Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <div class="form-group">
            <label for="idAdd" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idDetails" name="id" disabled>
          </div>

          <div class="form-group">
            <label for="descriptionEdit" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="descriptionDetails" name="description">
          </div>
          
          <div class="form-group">
            <label for="cityAdd" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="cityDetails" name="city">
          </div>
          
          <div class="form-group">
            <label for="detailsAdd" class="col-form-label">Address:</label>
            <textarea type="text" class="form-control" id="addressDetails" name="address"></textarea>
          </div> 
          
         <div class="form-group">
		    <label for="ddlCountryAdd" class="col-form-label">Country: </label>
			    <select class="form-control" id="ddlCountryDetails" name="countryid">
			       <option>-SELECT-</option>			    
			       <option th:each="country : ${country}"
				        th:value="${country.id}"
				        th:text="${country.description}">
				   </option>
			    </select>				    
		  </div>

         <div class="form-group">
		    <label for="ddlStateAdd" class="col-form-label">State: </label>
			    <select class="form-control" id="ddlStateDetails" name="stateid">
			       <option>-SELECT-</option>			    
			       <option th:each="state : ${state}"
				        th:value="${state.id}"
				        th:text="${state.name}">
				   </option>
			    </select>				    
		  </div>
          
          <div class="form-group">
            <label for="detailsAdd" class="col-form-label">Details:</label>
            <input type="text" class="form-control" id="detailsDetails" name="details">
          </div>   
          
      </div>

    </div>

</div> <!-- End addNew Location --> 






<!-- Update Location -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Update State</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/location/update}" method="put">
          <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="id" readonly>
          </div>
          
          <div class="form-group">
            <label for="descriptionEdit" class="col-form-label">Description:</label>
            <input type="text" class="form-control" id="descriptionEdit" name="description" required>
          </div>
          
          <div class="form-group">
            <label for="cityEdit" class="col-form-label">City:</label>
            <input type="text" class="form-control" id="cityEdit" name="city" required>
          </div>
          
          <div class="form-group">
            <label for="detailsEdit" class="col-form-label">Address:</label>
            <textarea type="text" class="form-control" id="addressEdit" name="address"></textarea>
          </div> 
          
         <div class="form-group">
		    <label for="ddlCountryEdit" class="col-form-label">Country: </label>
			    <select class="form-control" id="ddlCountryEdit" name="countryid">
			       <option>-SELECT-</option>
			       <option th:each="country : ${country}"
				        th:value="${country.id}"
				        th:text="${country.description}">
				   </option>
			    </select>				    
		  </div>

         <div class="form-group">
		    <label for="ddlStateEdit" class="col-form-label">State: </label>
			    <select class="form-control" id="ddlStateEdit" name="stateid">
			       <option>-SELECT-</option>
			       <option th:each="state : ${state}"
				        th:value="${state.id}"
				        th:text="${state.name}">
				   </option>
			    </select>				    
		  </div>
          
          <div class="form-group">
            <label for="detailsAdd" class="col-form-label">Details:</label>
            <input type="text" class="form-control" id="detailsEdit" name="details">
          </div>                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      

    </div>
  </div>
</div> <!-- End update location --> 
  
  

  
  
  
  

<div th:replace="index.html"></div>
 <script src="assets/js/location.js"></script>

</body>

</html>