<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8"/>
   <title>new country</title>
</head>
<body>
    <section>
  
    
    <div class="card mr-4 ml-4">
     <div class="card-body">
         <h1 class="text-center">Add country</h1>
          <div class="container-fluid mt-1">
           <div class="row">
             <div class="col-md-8 offset-md-2">
             <form action="#"
                   th:object="${country}"
                   enctype="multipart/form-data"
                   method="post"
                   th:action="@{/countries/addNew}"
                   class="mt-2">
                   
                   <!--First name -->
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text mr-1">
                          <i class="fa fa-plus"></i>
                       </div>
                     </div>
                      <label for="descriptionAdd" class="col-form-label">Description:</label>
                     <input requied type="text" id="descriptionAdd" name="description" placeholder="Enter description here" class="form-control"/>
                   </div>
                   
                   <!--First name -->
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text mr-1">
                          <i class="fa fa-plus"></i>
                       </div>
                     </div>
                      <label for="codeadd" class="col-form-label">Code:</label>
                     <input requied type="text" id="txtCodeAdd" name="code" placeholder="Enter description here" class="form-control"/>
                   </div>
                    
                    
                    <!--First name -->
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text mr-1">
                          <i class="fa fa-plus"></i>
                       </div>
                     </div>
                      <label for="continentadd" class="col-form-label">Continent:</label>
                     <input requied type="text" id="txtcontinentAdd" name="continent" placeholder="Enter description here" class="form-control"/>
                   </div>
                   
                   <!--First name -->
                   <div class="input-group">
                     <div class="input-group-prepend">
                       <div class="input-group-text mr-1">
                          <i class="fa fa-plus"></i>
                       </div>
                     </div>
                      <label for="nationalityadd" class="col-form-label">Nationality:</label>
                     <input requied type="text" id="txtnationalityAdd" name="nationality" placeholder="Enter description here" class="form-control"/>
                   </div>
                    
                    <div class="container text-center">
                      <button class="btn btn-outline-primary">Save Country</button>
                    </div>
             
             
             </form>
             
             </div>
           </div>
          </div>
     
     </div>
    
    </div>
    
    </section>

</body>
</html>