<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Supplier Management Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Supplier</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">             
             
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo"> New Supplier</button>

             
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Website</th>
                    <th scope="col">Email</th>
                    <th scope="col">City</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="supplier:${supplier}">
                    <td th:text="${supplier.id}"></td>
                    <td th:text="${supplier.name}"></td>
                    <td th:text="${supplier.website}"></td>
                    <td th:text="${supplier.email}"></td>
                    <td th:text="${supplier.city}"></td>
                    <td th:text="${supplier.phone}"></td>

                    <td>
                      <div class="btn-group">
                          <a th:href="@{/supplier/findById(id=${supplier.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-square"></i></a>
                          <a th:href="@{/supplier/findById(id=${supplier.id})}" class="btn btn-secondary" id="detailButton"><i class="bi bi-ticket-detailed"></i></a>
                          <a th:href="@{/supplier/delete/{id}(id=${supplier.id})}" type="button" class="btn btn-danger" id="deleteButton"  ><i class="bi bi-trash"></i></a>

                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>


           </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->
  
  
  
  
  <!-- add New Supplier -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal"> Add New Supplier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form th:action="@{/supplier/addNew}" method="post">
          <table width="100%">
			<tr>
				<td width="50%">
				
				 <div class="form-group row">
				    <label for="idAdd" class="col-sm-4 col-form-label">Id: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="idAdd" name="id" placeholder="Id" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="nameAdd" class="col-sm-4 col-form-label">Name: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="nameAdd" name="name" placeholder="Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="detailsAdd" class="col-sm-4 col-form-label">Details.: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="detailsAdd" name="details" placeholder="Details">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="websiteAdd" class="col-sm-4 col-form-label">website: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="websiteAdd" name="website" placeholder="Website">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="addressAdd" class="col-sm-4 col-form-label">Address</label>
				    <div class="col-sm-6">
				      <textarea class="form-control" id="addressAdd" name="address" placeholder="Address" rows="2"></textarea>
				    </div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="ddlStateAdd" class="col-sm-4 col-form-label">State/Province: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlStateAdd" name="stateid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="state : ${state}"
						        th:value="${state.id}"
						        th:text="${state.name}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="ddlCountryAdd" class="col-sm-4 col-form-label">Country: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlCountryAdd" name="countryid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="country : ${country}"
						        th:value="${country.id}"
						        th:text="${country.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="cityAdd" class="col-sm-4 col-form-label">City: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="cityAdd" name="city" placeholder="City">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="phoneAdd" class="col-sm-4 col-form-label">Phone: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="phoneAdd" name="phone" placeholder="Phone">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="mobileAdd" class="col-sm-4 col-form-label">Mobile: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="mobileAdd" name="mobile" placeholder="Mobile">
				    </div>
				  </div>

				  <div class="form-group row">
				    <label for="emailAdd" class="col-sm-4 col-form-label">Email</label>
				    <div class="col-sm-6">
				      <input type="email" class="form-control" id="emailAdd" name="email" placeholder="Email">
				    </div>
				  </div>
				</td>
			</tr>
		</table>
          
            <div class="form-group">
            <button type="submit" class="btn btn-primary">Save </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
           </form>       
      </div>

    </div>

</div> <!-- End addNew Supplier -->     



  <!-- details Supplier -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModal">Supplier Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          <table width="100%">
			<tr>
				<td width="50%">
				
				 <div class="form-group row">
				    <label for="idDetails" class="col-sm-4 col-form-label">Id: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="idDetails" name="id" placeholder="Id" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="nameDetails" class="col-sm-4 col-form-label">Name: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="nameDetails" name="name" placeholder="Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="detailsDetails" class="col-sm-4 col-form-label">Details.: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="detailsDetails" name="details" placeholder="Details">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="websiteDetails" class="col-sm-4 col-form-label">website: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="websiteDetails" name="website" placeholder="Website">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="addressDetails" class="col-sm-4 col-form-label">Address</label>
				    <div class="col-sm-6">
				      <textarea class="form-control" id="addressDetails" name="address" placeholder="Address" rows="2"></textarea>
				    </div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="ddlStateDetails" class="col-sm-4 col-form-label">State/Province: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlStateDetails" name="stateid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="state : ${state}"
						        th:value="${state.id}"
						        th:text="${state.name}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="ddlCountryDetails" class="col-sm-4 col-form-label">Country: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlCountryDetails" name="countryid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="country : ${country}"
						        th:value="${country.id}"
						        th:text="${country.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="cityDetails" class="col-sm-4 col-form-label">City: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="cityDetails" name="city" placeholder="City">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="phoneDetails" class="col-sm-4 col-form-label">Phone: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="phoneDetails" name="phone" placeholder="Phone">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="mobileDetails" class="col-sm-4 col-form-label">Mobile: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="mobileDetails" name="mobile" placeholder="Mobile">
				    </div>
				  </div>

				  <div class="form-group row">
				    <label for="emailDetails" class="col-sm-4 col-form-label">Email</label>
				    <div class="col-sm-6">
				      <input type="email" class="form-control" id="emailDetails" name="email" placeholder="Email">
				    </div>
				  </div>
				</td>
			</tr>
		</table>
          
      </div>

    </div>

</div> <!-- End details Supplier --> 






<!-- Update Supplier -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Update Supplier</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/supplier/update}" method="put">
          <table width="100%">
			<tr>
				<td width="50%">
				
				 <div class="form-group row">
				    <label for="idEdit" class="col-sm-4 col-form-label">Id: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="idEdit" name="id" placeholder="Id" readonly>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="nameEdit" class="col-sm-4 col-form-label">Name: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="nameEdit" name="name" placeholder="Name">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="detailsEdit" class="col-sm-4 col-form-label">Details.: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="detailsEdit" name="details" placeholder="Details">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="websiteEdit" class="col-sm-4 col-form-label">website: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="websiteEdit" name="website" placeholder="Website">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="addressEdit" class="col-sm-4 col-form-label">Address</label>
				    <div class="col-sm-6">
				      <textarea class="form-control" id="addressEdit" name="address" placeholder="Address" rows="2"></textarea>
				    </div>
				  </div>
				</td>
				<td width="50%" style="padding-left:10px">
				  <div class="form-group row">
				    <label for="ddlStateEdit" class="col-sm-4 col-form-label">State/Province: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlStateEdit" name="stateid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="state : ${state}"
						        th:value="${state.id}"
						        th:text="${state.name}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="ddlCountryEdit" class="col-sm-4 col-form-label">Country: </label>
				    <div class="col-sm-6">
					    <select class="form-control" id="ddlCountryEdit" name="countryid">
		        	       <option>-SELECT-</option>			    					  					    					    
					       <option th:each="country : ${country}"
						        th:value="${country.id}"
						        th:text="${country.description}">
						   </option>
					    </select>				    
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="cityEdit" class="col-sm-4 col-form-label">City: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="cityEdit" name="city" placeholder="City">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="phoneEdit" class="col-sm-4 col-form-label">Phone: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="phoneEdit" name="phone" placeholder="Phone">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label for="mobileEdit" class="col-sm-4 col-form-label">Mobile: </label>
				    <div class="col-sm-6">
				      <input type="text" class="form-control" id="mobileEdit" name="mobile" placeholder="Mobile">
				    </div>
				  </div>

				  <div class="form-group row">
				    <label for="emailEdit" class="col-sm-4 col-form-label">Email</label>
				    <div class="col-sm-6">
				      <input type="email" class="form-control" id="emailEdit" name="email" placeholder="Email">
				    </div>
				  </div>
				</td>
			</tr>
		</table>        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      

    </div>
  </div>
</div> <!-- End update Supplier --> 
  
  

  
  
  
  

<div th:replace="index.html"></div>
 <script src="assets/js/supplier.js"></script>
</body>

</html>