<!DOCTYPE html>
<html lang="en"  >
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Movement </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  


  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

 
</head>

<body>


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Vehicle Movement</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/index}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">             
             
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo"> Add New</button>

             
            <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Date</th>
                    <th scope="col">Remarks</th>
                    <th scope="col">Action</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="vehiclemovement:${vehiclemovement}">
                    <td th:text="${vehiclemovement.id}"></td>
                    <td th:text="${vehiclemovement.vehicle.name}"></td>
                    <td th:text="${vehiclemovement.date1}"></td>
                    <td th:text="${vehiclemovement.remarks}"></td>
                  
                    <td>
                      <div class="btn-group">
                          <a th:href="@{/vehiclemovement/findById(id=${vehiclemovement.id})}" class="btn btn-primary" id="editButton"><i class="bi bi-pencil-square"></i></a>
                          <a th:href="@{/vehiclemovement/findById(id=${vehiclemovement.id})}" class="btn btn-secondary" id="detailButton"><i class="bi bi-ticket-detailed"></i></a>
                          <a th:href="@{/vehiclemovement/delete/{id}(id=${vehiclemovement.id})}" type="button" class="btn btn-danger" id="deleteButton"  ><i class="bi bi-trash"></i></a>

                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>


           </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

  </main><!-- End #main -->



<!-- add New Movement -->
  <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModal"> Add Movement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/vehiclemovement/addNew}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idAdd" name="id" placeholder="Id" disabled>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Vehicle:</label>
            <select class="form-control" id="vehicleAdd" name="vehicleid">
			       <option>-SELECT-</option>			    
			       <option th:each="vehicle : ${vehicle}"
				        th:value="${vehicle.id}"
				        th:text="${vehicle.description}">
				   </option>
			    </select>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departed From:</label>
            <select class="form-control" id="location1Add" name="locationid1">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departure Date:</label>
            <input type="text" class="form-control" id="date1Add" name="date1">
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrived at:</label>
            <select class="form-control" id="location2Add" name="locationid2">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
         
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrival Date:</label>
            <input type="text" class="form-control" id="date2Add" name="date2">
          </div>
          
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksAdd" name="remarks">
          </div>
          
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End addNew vehiclemovement -->         



<!-- details vehiclemovement -->
  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailsModal"> Movement details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idDetails" name="id" placeholder="Id" disabled>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Vehicle:</label>
            <select class="form-control" id="vehicleDetails" name="vehicleid">
			       <option>-SELECT-</option>			    
			       <option th:each="vehicle : ${vehicle}"
				        th:value="${vehicle.id}"
				        th:text="${vehicle.description}">
				   </option>
			    </select>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departed From:</label>
            <select class="form-control" id="location1Details" name="locationid1">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departure Date:</label>
            <input type="text" class="form-control" id="date1Details" name="date1">
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrived at:</label>
            <select class="form-control" id="location2Details" name="locationid2">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
         
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrival Date:</label>
            <input type="text" class="form-control" id="date2Details" name="date2">
          </div>
          
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksDetails" name="remarks">
          </div>
          

      </div>

    </div>
  </div>
</div> <!-- End details vehiclemovement -->         









<!-- Update vehiclemovement -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">Update Movements</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/vehiclemovement/update}" method="put">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="id" placeholder="Id" disabled>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Vehicle:</label>
            <select class="form-control" id="vehicleEdit" name="vehicleid">
			       <option>-SELECT-</option>			    
			       <option th:each="vehicle : ${vehicle}"
				        th:value="${vehicle.id}"
				        th:text="${vehicle.description}">
				   </option>
			    </select>
          </div>
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departed From:</label>
            <select class="form-control" id="location1Edit" name="locationid1">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Departure Date:</label>
            <input type="text" class="form-control" id="date1Edit" name="date1">
          </div>
          
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrived at:</label>
            <select class="form-control" id="location2Edit" name="locationid2">
			       <option>-SELECT-</option>			    
			       <option th:each="location : ${location}"
				        th:value="${location.id}"
				        th:text="${location.description}">
				   </option>
			    </select>
          </div>
          
         
          
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Arrival Date:</label>
            <input type="text" class="form-control" id="date2Edit" name="date2">
          </div>
          
        
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Remarks:</label>
            <input type="text" class="form-control" id="remarksEdit" name="remarks">
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> <!-- End update vehiclemovement -->             
             



  <div th:replace="index.html"></div>
  <script src="assets/js/vehiclemovement.js"></script>

</body>

</html>